@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 50%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  color: var(--main-color);
  text-transform: uppercase;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

.header {
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  border-bottom: var(--border);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  height: 6rem;
  background-color: rgba(255, 255, 255);
  padding: 0.8rem;
  border-left: #d3ad7f solid 0.4rem;
  border-top-left-radius: 7%;
  border-bottom-right-radius: 7%;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.header .navbar a:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.5rem;
}

.header .icons div {
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
}

.header .icons div:hover {
  color: var(--main-color);
}

#menu-btn {
  display: none;
}

.about .row {
  display: flex;
  align-items: center;
  background: var(--black);
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: #fff;
}

.about .row .content p {
  font-size: 1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu .box-container .box {
  padding: 5rem;
  text-align: center;
  border: var(--border);
  transition: 2s;
}

.menu .box-container .box img {
  height: 10rem;
  border-radius: 100%;
}

.menu .box-container .box h3 {
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
  transition: 1s;
}

.menu .box-container .box:hover h3 {
  color: rgba(0, 0, 0, 0.966);
  background-color: rgba(255, 255, 255, 0.61);
  border-radius: 1rem;
}

.menu .box-container .Middle-Eastern-Breakfast {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/Screensh.png") center no-repeat;
}

.menu .box-container .Middle-Eastern-Breakfast:hover {
  background: url("../images/Screensh.png") center no-repeat;
}

.menu .box-container .Eggs-Benedict {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/Screenshot_11.png") center no-repeat;
  transition: 2s;
}

.menu .box-container .Eggs-Benedict:hover {
  background: url("../images/Screenshot_11.png") center no-repeat;
}

.menu .box-container .Avocado-Egg-Toast {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/Screenshot_13.png") center no-repeat;
}

.menu .box-container .Avocado-Egg-Toast:hover {
  background: url("../images/Screenshot_13.png") center no-repeat;
}

.menu .box-container .Acai-Granola-Fruit {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/Screenshot_14.png") center no-repeat;
}

.menu .box-container .Acai-Granola-Fruit:hover {
  background: url("../images/Screenshot_14.png") center no-repeat;
}

.menu .box-container .Omelette {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/Screenshot_15.png") center no-repeat;
}

.menu .box-container .Omelette:hover {
  background: url("../images/Screenshot_15.png") center no-repeat;
}

.menu .box-container .French-Toast {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/Screenshot_16.png") center no-repeat;
}

.menu .box-container .French-Toast:hover {
  background: url("../images/Screenshot_16.png") center no-repeat;
}

.menu .box-container .Spanish-style-tomato-toast {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/Screenshot_17.png") center no-repeat;
}

.menu .box-container .Spanish-style-tomato-toast:hover {
  background: url("../images/Screenshot_17.png") center no-repeat;
}

.menu .box-container .Mozzarella-Tomato-Basil-Frittata {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/Screenshot_18.png") center no-repeat;
}

.menu .box-container .Mozzarella-Tomato-Basil-Frittata:hover {
  background: url("../images/Screenshot_18.png") center no-repeat;
}

.menu .box-container .Pancake {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/Screenshot_19.png") center no-repeat;
}

.menu .box-container .Pancake:hover {
  background: url("../images/Screenshot_19.png") center no-repeat;
}

.menu .box-container .Avocado-Toast {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/Screenshot_20.png") center no-repeat;
}

.menu .box-container .Avocado-Toast:hover {
  background: url("../images/Screenshot_20.png") center no-repeat;
}



/* .menu .box-container .box:hover > * {
  color: var(--black);
} */

/* Tea-Time Snacks */

.menu .box-container .Mix-mini-sandwiches:hover {
  background: 
    url("../images/Screensh.png") center no-repeat;
}
.menu .box-container .Mix-mini-sandwiches {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/Screensh.png") center no-repeat;
}

.menu .box-container .Pumpkin-Lemonade-scones:hover {
  background:
    url("../images/Screenshot_11.png") center no-repeat;
}

.menu .box-container .Pumpkin-Lemonade-scones {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/Screenshot_11.png") center no-repeat;
}

.menu .box-container .Cherry-marzipan-cake:hover {
  background: url("../images/Screenshot_13.png") center no-repeat;
}

.menu .box-container .Cherry-marzipan-cake {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/Screenshot_13.png") center no-repeat;
}

.menu .box-container .Cinnamon-Pie:hover {
  background: url("../images/Screenshot_14.png") center no-repeat;
}

.menu .box-container .Cinnamon-Pie {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/Screenshot_14.png") center no-repeat;
}

.menu .box-container .Currant-Cakes:hover {
  background: url("../images/Screenshot_15.png") center no-repeat;
}

.menu .box-container .Currant-Cakes {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/Screenshot_15.png") center no-repeat;
}

.menu .box-container .Cheese-Mini-Tarts:hover {
  background: url("../images/Screenshot_16.png") center no-repeat;
}

.menu .box-container .Cheese-Mini-Tarts {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/Screenshot_16.png") center no-repeat;
}

.menu .box-container .Bluberry-scones:hover {
  background: url("../images/Screenshot_17.png") center no-repeat;
}

.menu .box-container .Bluberry-scones {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/Screenshot_17.png") center no-repeat;
}

.contact .row {
  display: flex;
  background: var(--black);
  flex-wrap: wrap;
  gap: 1rem;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #fff;
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--bg);
  border: var(--border);
}

.contact .row form .inputBox span {
  color: #fff;
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background: none;
}

.footer {
  background: var(--black);
  text-align: center;
}

.footer .share {
  padding: 1rem 0;
}

.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: 0.3rem;
  border-radius: 50%;
}

.footer .share a:hover {
  background-color: var(--main-color);
}

/* media queries  */
@media (max-width: 950px) {
  html {
    font-size: 45%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 2rem;
  }
}

@media (max-width: 700px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;
    width: 30rem;
    height: calc(100vh - 9.5rem);
  }

  .header .navbar.active {
    right: 0;
  }

  .header .navbar a {
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .home {
    background-position: left;
    justify-content: center;
    text-align: center;
  }

  .home .content h3 {
    font-size: 4.5rem;
  }

  .home .content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 40%;
  }
}
